@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Aplicación .NET</h1>
        <br />
        <div class="row mt-4">
            <div class="col-md-6">
                <a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Estudiante">Información de Estudiantes</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-info btn-block" asp-action="Index" asp-controller="Curso">Información de Cursos</a>
            </div>
        </div>
    </div>
</div>
